In [2]:
import json
import pandas as pd

In [12]:
FILEPATH = 'E:\Pycharm\control_files\Data.csv'
df = pd.read_csv(FILEPATH)
df.head()

   Angielski           Polski  Frequency  BadlyAnswer  PerfectScore
0      peers       rowiesnicy         14            0             0
1   releases          wydania         14            2             0
2   nastiest        najgorszy         14            1             0
3       tend  mieć skłonności         12            4             1
4  wholesale             hurt         14            1             0

In [16]:
FILEPATH = 'control/Data.csv'
df2 = pd.read_csv(FILEPATH)
df2.head()

   Angielski           Polski  Frequency  BadlyAnswer  PerfectScore
0      peers       rowiesnicy         14            0             0
1   releases          wydania         14            2             0
2   nastiest        najgorszy         14            1             0
3       tend  mieć skłonności         12            4             1
4  wholesale             hurt         14            1             0

In [13]:
df.tail()

,Angielski,Polski,Frequency,BadlyAnswer,PerfectScore
3702,sentinel,strażnik,11,0,0
3703,vigilant,czujny,11,0,0
3704,havoc,spustoszenie,11,0,0
3705,forgo,zrzec się,11,0,0
3706,scaffolding,a raised structure that supports workers and m...,11,0,0

In [20]:
df.append(df2).drop_duplicates().reset_index(drop=True).to_csv(FILEPATH, index=False, encoding='utf-8-sig')

In [11]:
df[:max(df.index)].to_csv(FILEPATH, index=False, encoding='utf-8-sig')

In [17]:
df[df.Angielski.str.contains('peers')].Polski.values[0]

'rowiesnicy'

In [2]:
import json
import pandas as pd

In [3]:
text = """{"crowns our work":"wieńczy naszą pracę","harmless":"niegroźny","superset":"nadzbiór","hone and polish":"szlifować i polerować","unorthodox":"nie ortodoksyjny","unfolding":"rozkładanie","shortened":"skrócony","intricate":"zawiły","riddled":"podziurawiony","usefulness":"przydatność","ship it":"wyślij to!","prism of":"pryzmat","wisest":"najmądrzejszy","designates":"desygnuje","enhancement":"wzmocnienie","fleet of":"flota","graceful":"wdzięczny","inevitable":"nieunikniony","riddled":"podziurawiony","assurance":"zapewnienie","versatility":"wszechstronność","severity":"surowość"}"""
parsed = json.loads(text)
json_df = pd.DataFrame.from_dict(
    dict(parsed), orient='index').reset_index()
json_df.columns = ['English', 'Polish']
json_df['Exists'] = False
json_df

            English                 Polish  Exists
0   crowns our work    wieńczy naszą pracę   False
1          harmless              niegroźny   False
2          superset               nadzbiór   False
3   hone and polish  szlifować i polerować   False
4        unorthodox       nie ortodoksyjny   False
5         unfolding            rozkładanie   False
6         shortened               skrócony   False
7         intricate                 zawiły   False
8           riddled          podziurawiony   False
9        usefulness            przydatność   False
10          ship it             wyślij to!   False
11         prism of                pryzmat   False
12           wisest          najmądrzejszy   False
13       designates              desygnuje   False
14      enhancement            wzmocnienie   False
15         fleet of                  flota   False
16         graceful              wdzięczny   False
17       inevitable           nieunikniony   False
18        assurance            zapewnienie   False
19      versatility        wszechstronność   False
20         severity               surowość   False

In [6]:
for row in json_df.iterrows():
    print(f'i: {index} = {row.Polish}:{row.English}')

AttributeError: 'str' object has no attribute 'Polish'

In [10]:
df[df.Angielski.str.contains('rele') | df.Polski.str.contains('wyda')]

                 Angielski                  Polski  Frequency  BadlyAnswer
1                 releases                 wydania          8            2
569               relevant                 istotne          8            2
764                 yields               wydajność          8            2
1004  relevant to identity  istotne dla tożsamości          8            0
1065    favors performance      sprzyja wydajności          8            4
1127            irrelevant           bez znaczenia          8            1
1330       performance of                wydajność          8            2
1451           relevant to             istotne dla          9            3

In [11]:
from datetime import datetime

In [16]:
data1 = datetime.today()

In [22]:
data2 = datetime.today()

In [24]:
int((data2 - data1).total_seconds())

149

In [21]:
(data2 - data1)

datetime.timedelta(seconds=5, microseconds=338651)

In [1]:
import random

In [8]:
a = [0, 1, 2]
random.shuffle(a)

In [9]:
a

[2, 0, 1]