In [1]:
import pandas as pd

In [40]:
df = pd.read_csv('untitled.csv', sep=';', names=['Angielski', 'Polski', 'Frequency', 'BadlyAnswer', 'PerfectScore'])

In [48]:
df[['Frequency', 'BadlyAnswer', 'PerfectScore']] = 9, 0, 0

In [49]:
df

,Angielski,Polski,Frequency,BadlyAnswer,PerfectScore
0,down-to-earth,rzeczowy,9,0,0
1,computer geek,maniak komputerowy,9,0,0
2,people person,osoba towarzyska,9,0,0
3,keep yourself to yourself,zamknięty w sobie,9,0,0
4,good laugh,zabawny,9,0,0
...,...,...,...,...,...
128,and yet,a jednak,9,0,0
129,paws,łapy,9,0,0
130,wingwalking,chodzenie po skrzydle samolotu,9,0,0
131,bungee jumping,skok na bungee,9,0,0
132,sledding,saneczkarstwo,9,0,0

In [31]:
df1= pd.read_csv('control_files/Data.csv')

In [65]:
df = pd.concat([df1, df]).reset_index().drop('index', axis=1)

In [66]:
df.to_csv('control_files/Data.csv')